*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
  font-family:'Bangers', cursive ;!important
}

html{
  font-family: 'Bangers', cursive; !important
    color: white;
}

a:visited{
       color:inherit;        
}

body {
 background-color: black;
}

.encabezado {
background-color:black;
color:white;
text-align: center;

}

.encabezado-titulo{
font-size: 100px;
text-align: center;
}

.navegacion-index{
text-align: center;
font-size: 40px;
}

.navegacion-index li{
display: inline;
margin-left: 30px;
margin-right: 30px;
list-style: none;
color: goldenrod;
}


.navegacion ul{
text-align: center;  
color: gold;
list-style: none;
}
    
.navegacion li{
display: inline; 
margin: 10px 25px 0px 25px;
margin-left: 90px;
padding-left: 5px;
padding-right: 0px;
font-size: 40px;
}

   
.header-general{
position: sticky;
top:0;
background-image: url(../assets/banner2.jpg);
background-repeat: no-repeat;
background-size: cover;

}
     
.formulario li {
border: 1px solid black ;
display: inline-block;
}

.cajalogo {
text-align: center;      
}
 
.buscador{
text-align: center;         
}

.footer{
margin: 30px;
;
}
.footer p {
display: inline;
margin-left: 30px;
margin-right: 30px;
text-align: center;
;
}


/* estilos html contactos */


/* en el box , un mapa con la ubicacion  */
/*
#titulocontacto{
  font-size: 130px;
}
*/

.caja-mapa{
  
 text-align: center;
 align-items: center;
}

.caja-mapa-img {
 margin-top: 5px ;
 margin-bottom: 5px;
}

.redes{
 text-align: center;
 align-items: center; 
}

.redes div img{
 margin-top:15px;
 margin-bottom:15px;
  
}


.lista1{
  
  height: 300px;
  width: 300px;
  font-size: 60px;
  margin-top: 100px;
  }

.titulomapa{
  
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

 .imagenmapa{
 padding: 20px;
 margin-top: 50px;
 margin-left: 36%;
 border: 2px solid white; 
 height: 500px;
 width: 500px;

}

/* estilo de productos*/

.productos{
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 100px;
  }


  .categoria{
    display: flex;
    flex-direction: row;
    background-color:black;
    justify-content: space-around;
    margin-top: 2rem;
    list-style: none;
    }

  .categoria li button {
    
    font-size: 1.5rem;
    background-color:rgb(126,135,53);
    border-end-start-radius: 20%;
    border-start-end-radius: 20%;
    padding-right: 5px;
    padding-left: 5px;
    border: 4px outset #596221 ;

    
  
}

  /* Lista de items ,  */


  
  .productos-a div {

    background-color: white;
    width:160px;
    text-align: center;


  }
 .productos-a{
  display: flex;
  flex-direction: row;
  background-color: #596221;
  justify-content: space-around;

 
  flex-direction:



 }


.itemb{
  
  margin-bottom: 30px;
  margin-top: 30px;
}


  .itemb div {
   border: 2px solid white;
  display: inline-block;
  margin: 10px;
  height: 240px;
  width: 240px; 
  text-align: center;
  margin-bottom: 70px;
  margin-top: 50px;
  }


.descuentos{
  font-size: 60px;
  color: gold;
  border: 10px outset white;
  margin: 20px;
}

  .itemc div {
    border: 2px solid white;
    display: inline-block;
    margin: 10px;
    height: 240px;
    width: 240px; 
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
    border: outset 5px goldenrod
  }
  
  .itemc {
    
    overflow:auto;
    height: 300px;
    border: 10px inset gold

  }
 


  .Itemd div {
    border: 2px solid white;
    display: inline-block;
    margin: 10px;
    height: 240px;
   width: 240px;  
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
  }

  .descripcionproducto{
    text-align: center;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }


/* Conocenos */

.historia{
  text-align: center;
  margin-top: 50px;
}
.historia h3 {
  margin: 20px;
  font-size: 50px;
  
}

.galeria  { 
  
  align-items: center;
  margin-top: 50px; 
}

.galeria-img {
  display: inline-block;
  
  width: 350px;
  height: 350px;
  

}
.caja-propuesta h5 {
  font-size: 60px;
}
.caja-propuesta {
  background-image:url(../assets/conocenos/banner\ trabajo.webp);
  text-align: center;
  font-size: 45px;
  height: 250px ;
  width: 100%;
  margin-top: 15px;
  
}

.caja-propuesta div {
  align-items: center;
  margin:50px;
  margin-bottom: 15px;
}

/* busqueda laboral */

.titulosformulario{
  font-size: 25px;
  text-align: center;
  margin-top: 30px; 
}

.titulosformulario h3 {
  font-size: 60px;
  margin:25px;
}

.caja-formulario{
  border:10px solid white;
  margin-top: 30px ;
  margin-bottom: 30px;
  padding-bottom: 20px;

}

.caja-formulario h5 {
text-align:center;
font-size: 30px;
margin:20px;

}

.formulario1 {
margin: 10px;
font-size:25px;
 }

.formulario2{
  margin: 10px;
  font-size: 25px;  
}

.mensaje-final{
  border: 5px solid white;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.box-video{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  margin-top: 100px; 
  margin-bottom: 100px;  
}

.video{
  border: 10px outset greenyellow;
}


@media screen and (max-width: 600px){
 
  .header-general h1 {
    font-size: 50px;
    
  }
  .redes{
    margin: 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;  
  }
  .redes div{
    margin:5px;
    font-size: 30px;
    background-color: grey;
    width: 100%;  
  }

  .titulomapa h3{
    font-size: 20px;
  }

  .titulomapa p{
    font-size: 18px;

  }
  .titulomapa{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  }
  .cajamapa{
    
  margin:0;
  }
  .caja-propuesta{
    
    font-size: 30px;
    border: none;
    
  }

  .caja-propuesta h5{
  font-size: 25px;
  }

  .footer{
    font-size: 13px;
  }


  /* CONOCENOS */                                                       /* CONOCENOS */

  .galeria div img {
    border-radius: 15%;
    width: 100%;
    height: 100%;
   
  }
.galeria div{
  
  height: 190px;
  width: 230px;
  background-color: rgb(16, 27, 16);
  text-align: center;
  
  }
.galeria{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  place-items:center; 
  }
.galeria-img-2{
  display :none;
  }
.galeria-img-3{
  display :none;
  }
.galeria-img-4{
  display :none;
  }
.galeria-img-5{
  display :none;
  }
.galeria-img-6{
  display :none;
  }
.galeria-img-1{
  display :none;
  }
.galeria-img-7{
    display :none;
  }
.galeria-img-8{
  display:none;
  }
.galeria div {
  width:100%;
  height:100%;
 
}


}
  @media screen and (min-width: 1024px){


  
 .redes{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
  }
  
 .redes div {
  background-color: grey;
  margin:5px;
  }
 
 .youtube{
  grid-column: span 3/4
  }

 .footer{
  text-align: center;

  }


/*  ESTILOS DE  CONOCENOS MIN 1024PX */


.section-galeria{
  display:flex;
  justify-content: center;
  
}

.galeria{
 background-color: black;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(4, 1fr);
 width: 85%;
 gap: 10px;
 
}
 .galeria div{
  background-color:rgb(16, 27, 16);
  width: 100%;
  height: 100%;
  text-align:center;
  
 }
.galeria div img {
  border-radius: 10%;
 width:100%;
 height: 100%;

}

.galeria-img-5{
  grid-column: span 4/5;

}
.galeria-img-10{
  grid-column: span 2/4;
}


}
  
  @media only screen and (min-width: 600px) and (max-width: 1024px) {
    .header-general{
        
    }
    .redes{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr 1fr;
    }
    .caja-propuesta{
      font-size: 30px;
      border: none;
      
    }

    .caja-propuesta h5{
    font-size: 35px;
    }
    .redes div{
      background-color: grey;
      margin :5px;
    }
   .footer{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr ;
    gap:5px; 
    }
  
    .ultimop {
      grid-column: 1/3;
      
    }

    /* ESTILOS DE CONOCENOS */
    
    
    
    .galeria{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      height: 920px;
      text-align: center;
      gap: 5px;
      }
    .galeria-img-5{
      display :none;
      }
    
    .galeria-img-6{
      display :none;
      }
    .galeria-img-1{
      display :none;
      }
     
     .galeria div {
      height: 300px;
      width: 300px;
      
      }
    
  }






